.picture1 {
  float: right;
  border: solid 5px;
  padding: 5px;
  border-radius: 0 50px 50px 50px;
  transform: rotate(15deg);
  margin: 150px 200px 0 0;
}

.well {
  margin-top: 30px;
  font-size: 14px;
}

.well p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

body {
  background-color: beige;
}

.quote {
  font-style: italic;
}

.city {
  color: brown;
}

#aboutme p {
  font-size: 18px;
}

u {
  font-weight: bold;
}

#home {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  position: absolute; visibility: visible; left: 150px; top: 400px; height: 100px;
  text-align: auto;
}

.etara {
  float: right;
  border: solid 5px;
  padding: 5px;
  border-radius: 0 50px 0 50px;
  height: 350px;
  width: 450px;
  margin-left: 50px;
}

.sidebar {
  height: 100px;
  width: 600px;
}
